<div class=" w-full h-full">
    <div class="flex flex-col md:flex-row justify-around gap-2 py-10">
        <div role="alert" class="w-64  h-full block overflow-auto">
            <div class="bg-error text-error-content font-bold rounded-t px-4 py-2">
                Total Cash spent
            </div>
            <div class="border border-t-0 border-error rounded-b  py-7 bg-base-200 text-base-content text-center">

                {{ 40000.33525 | currency:'Dh':'symbol':'1.2-2':'fr-MA' }}
            </div>
        </div>
        <div role="alert" class="w-64 h-full block overflow-auto">
            <div class="bg-info text-info-content font-bold rounded-t px-4 py-2">
                Total Cash received
            </div>
            <div class="border border-t-0 border-info rounded-b  py-7 bg-base-200 text-base-content text-center">

                {{ 40000.33525 | currency:'Dh':'symbol':'1.2-2':'fr-MA' }}
            </div>
        </div>
        <div role="alert" class="w-64 h-full block overflow-auto">
            <div class="bg-warning text-warning-content font-bold rounded-t px-4 py-2">
                Value of Stock
            </div>
            <div class="border border-t-0 border-warning rounded-b  py-7 bg-base-200 text-base-content text-center">

                {{ 40000.33525 | currency:'Dh':'symbol':'1.2-2':'fr-MA' }}
            </div>
        </div>
        <div role="alert" class="w-64 h-full block overflow-auto">
            <div class="bg-success text-success-content font-bold rounded-t px-4 py-2">
                Net cash received
            </div>
            <div class="border border-t-0 border-success rounded-b  py-7 bg-base-200 text-base-content text-center">

                {{ 40000.33525 | currency:'Dh':'symbol':'1.2-2':'fr-MA' }}
            </div>
        </div>
    </div>
</div>