
<div class="bg-gray-100 min-h-screen">

    <!-- Dashboard Container -->
 
        <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <div
        class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-6 xl:grid-cols-4 2xl:gap-7.5"
      >
        <!-- Card Item Start -->
        <div
          class="rounded-sm border border-stroke bg-white px-7.5 py-6 shadow-default dark:border-strokedark dark:bg-boxdark"
        >
          <div
            class="flex h-11.5 w-11.5 items-center justify-center rounded-full bg-meta-2 dark:bg-meta-4"
          >
          <fa-icon [icon]="fafaArrowTrendUp" class="text-3xl w-5"></fa-icon>
          </div>

          <div class="mt-4 flex items-end justify-between">
            <div class="ml-2">
              <h4
                class="text-title-md text-xl font-bold ">
                1200
              </h4>
              <span class="font-large text-base">Total Sales</span>
            </div>
            
          </div>
        </div>
        <!-- Card Item End -->

        <!-- Card Item Start -->
        <div
          class="rounded-sm border border-stroke bg-white px-7.5 py-6 shadow-default dark:border-strokedark dark:bg-boxdark"
        >
          <div
            class="flex h-11.5 w-11.5 items-center justify-center rounded-full bg-meta-2 dark:bg-meta-4"
          >
          <fa-icon [icon]="fafaCartShopping" class="text-3xl w-5"></fa-icon>
          </div>

          <div class="mt-4 flex items-end justify-between">
            <div class="ml-2">
              <h4
                class="text-title-md text-xl font-bold">
                10 000
              </h4>
              <span class="font-large text-base">Total Products</span>
            </div>

           
            
          </div>
        </div>
        <!-- Card Item End -->

        <!-- Card Item Start -->
        <div
          class="rounded-sm border border-stroke bg-white px-7.5 py-6 shadow-default dark:border-strokedark dark:bg-boxdark"
        >
          <div
            class="flex h-11.5 w-11.5 items-center justify-center rounded-full bg-meta-2 dark:bg-meta-4"
          >
          <fa-icon [icon]="faTags" class="text-3xl w-5"></fa-icon>
          </div>

          <div class="mt-4 flex items-end justify-between">
            <div class="ml-2">
              <h4
                class="text-title-md text-xl font-bold">
                320
              </h4>
              <span class="font-large text-base">Total Categories</span>
            </div>

           
          </div>
        </div>
        <!-- Card Item End -->

        <!-- Card Item Start -->
        <div
          class="rounded-sm border border-stroke bg-white px-7.5 py-6 shadow-default dark:border-strokedark dark:bg-boxdark"
        >
          <div
            class="flex h-11.5 w-11.5 items-center justify-center rounded-full bg-meta-2 dark:bg-meta-4"
          >
          <fa-icon [icon]="faSackDollar" class="text-3xl w-5"></fa-icon>
          </div>

          <div class="mt-4 flex items-end justify-between">
            <div class="ml-2">
              <h4
                class="text-title-md text-xl font-bold">
                12 000 DH
              </h4>
              <span class="font-large text-base">Month Profits</span>
            </div>

            <span class="flex items-center gap-1 text-sm font-medium text-meta-5">
              10.95%
            </span>
          </div>
        </div>
        <!-- Card Item End -->
      </div>
    </div>


</div>
