@let hideSideBar = compComunicationSrv.$hideSideBar() ;
<div id="logo-sidebar" [ngClass]="{'opacity-0': !hideSideBar, 'opacity-100': hideSideBar}"
     class="ease-in-out  duration-1000 opacity-0 bg-base-100 lg:opacity-100  h-full rounded pt-0 text-base-content"
     aria-label="Sidebar">
    <div class="ps-0  pb-4 overflow-y-auto text-neutral-content">
        <ul class="space-y-0.5 font-medium ">
            <li>
                <a routerLink="/home/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page"
                   class="block text-center w-full hover:bg-secondary  hover:text-secondary-content group px-3 text-base-content rounded-lg focus:bg-neutral-300 focus:text-accent-content">
                    <div [ngClass]="hideSideBar ? 'flex-col' : 'lg:flex-row lg:px-3.5'"
                         class="flex w-full flex-col items-center transition-all duration-500 ease-in-out py-2">
                        <fa-icon [icon]="faComputer"
                                 class="text-lg w-5"></fa-icon>
                        <span [ngClass]="hideSideBar ? '' : 'lg:text-base lg:ms-3'"
                              class="text-xs">{{ 'APP.SIDEBAR.DASHBOARD' | translate }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/home/sales" routerLinkActive="active" ariaCurrentWhenActive="page"
                   class="block text-center w-full hover:bg-secondary  hover:text-secondary-content group px-3 text-base-content rounded-lg focus:bg-neutral-300 focus:text-accent-content">
                    <div [ngClass]="hideSideBar ? 'flex-col' : 'lg:flex-row lg:px-3.5'"
                         class="flex w-full flex-col items-center transition-all duration-500 ease-in-out py-2">
                        <fa-icon [icon]="faSackDollar"
                                 class="text-lg w-5"></fa-icon>
                        <span [ngClass]="hideSideBar ? '' : 'lg:text-base lg:ms-3'"
                              class="text-xs">{{ 'APP.SIDEBAR.SALES' | translate }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/home/products" routerLinkActive="active" ariaCurrentWhenActive="page"
                   class="block text-center w-full hover:bg-secondary  hover:text-secondary-content group px-3 text-base-content rounded-lg focus:bg-neutral-300 focus:text-accent-content">
                    <div [ngClass]="hideSideBar ? 'flex-col' : 'lg:flex-row lg:px-3.5'"
                         class="flex w-full flex-col items-center transition-all duration-500 ease-in-out py-2">
                        <fa-icon [icon]="faHandshake"
                                 class="text-lg w-5"></fa-icon>
                        <span [ngClass]="hideSideBar ? '' : 'lg:text-base lg:ms-3'"
                              class="text-xs">{{ 'APP.SIDEBAR.PRODUCT' | translate }}</span>
                    </div>
                </a>
            </li>
            <li>
                <a routerLink="/home/category" routerLinkActive="active"
                   class="block text-center w-full hover:bg-secondary  hover:text-secondary-content group px-3 text-base-content rounded-lg focus:bg-neutral-300 focus:text-accent-content">
                    <div [ngClass]="hideSideBar ? 'flex-col' : 'lg:flex-row lg:px-3.5'"
                         class="flex w-full flex-col items-center transition-all duration-500 ease-in-out py-2">
                        <fa-icon [icon]="faTags"
                                 class="text-lg w-5"></fa-icon>
                        <span [ngClass]="hideSideBar ? '' : 'lg:text-base lg:ms-3'"
                              class="text-xs">{{ 'APP.SIDEBAR.CATEGORIES' | translate }}</span>
                    </div>
                </a>
            </li>

        </ul>
    </div>
</div>
