<dialog id="my_modal" class="modal">
    <div class="modal-box w-11/12 max-w-5xl">
      <form class="max-w mx-auto py-4 px-8 " [formGroup]="saleForm" (ngSubmit)="submit()" >
        @if(isEditMode) {
           @if(isView){
             <h2 class="text-2xl font-bold mb-6">{{ 'APP.SALE.ADDSALE.VIEW' | translate }}:</h2>
           }@else{
            <h2 class="text-2xl font-bold mb-6">{{ 'APP.SALE.ADDSALE.EDIT' | translate }}:</h2>
            }  
         }
        @else{
        <h2 class="text-2xl font-bold mb-6">{{ 'APP.SALE.ADDSALE.ADD' | translate }}:</h2>
        }
          <div class="row ">
              <div class="gap-4 columns-2">
                  <div class="mb-4 relative ">
                      <label for="sale_description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ 'APP.SALE.ADDSALE.DESCRIPTION' | translate }}
                      </label>
                          <input type="text" placeholder="Sale-A" id="description" formControlName="description" 
                          class="mt-1  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"   />
                          <div class="inputError-text font-bold mt-1  text-xs">
                          
                        </div>
                  </div>
                  <div class="mb-4  relative">
                      <label for="sale_product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        {{ 'APP.SALE.ADDSALE.PRODUCT' | translate }}
                        <span class="text-sm ms-1 inputError-text">*</span>
                      </label>
                        <select  id="category" formControlName="product"
                        class="mt-1  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  
                        [ngClass]="{inputError: saleForm.get('product')?.invalid &&  saleForm.get('product')?.touched}" >
                        <option [ngValue]="null" >{{ 'APP.SALE.ADDSALE.SELECT' | translate }}</option>
                        @for (product of products; track product.id) {
                        <option [ngValue]="product" >{{ product.productName }}</option>
                        }
                        </select>
                        <div class="inputError-text  font-bold mt-1  text-xs ">
                          @if(saleForm.get('product')?.touched && saleForm.get('product')?.errors?.['required'])
                          {<p>{{ 'APP.SALE.ADDSALE.VALIDATION.REQUIRED' | translate }}</p> } 
                        </div>
                  </div>
              </div>
          </div>
          <div class="row ">
              <div class="gap-4 columns-2">
                  <div class="mb-4  relative">
                      <label for="sale_quantity" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> 
                        {{ 'APP.SALE.ADDSALE.QUANTITY' | translate }}
                        <span class="text-sm ms-1 inputError-text">*</span>
                      </label>
                          <input type="text" placeholder="128rom/6ram color black" id="saleQuantity" formControlName="saleQuantity"
                          class="mt-1  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  
                          [ngClass]="{inputError: saleForm.get('saleQuantity')?.invalid &&  saleForm.get('saleQuantity')?.touched}"   />      
                          <div class="inputError-text  font-bold mt-1  text-xs ">
                            @if(saleForm.get('saleQuantity')?.touched && saleForm.get('saleQuantity')?.errors?.['required'])
                            {<p>{{ 'APP.SALE.ADDSALE.VALIDATION.REQUIRED' | translate }}</p> } 
                            @if(saleForm.get('saleQuantity')?.touched && saleForm.get('saleQuantity')?.errors?.['pattern'])
                            {<p>{{ 'APP.SALE.ADDSALE.VALIDATION.NUMBER' | translate }} </p>}
                            @if(saleForm.get('saleQuantity')?.touched && saleForm.get('saleQuantity')?.errors?.['min'])
                            {<p>{{ 'APP.SALE.ADDSALE.VALIDATION.MIN' | translate }} </p>}
                            
                         </div>   
                        </div>
                  <div class="mb-4  relative ">   
                      <label for="sale_discount" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"  >
                        {{ 'APP.SALE.ADDSALE.DISCOUNT' | translate }}
                      </label>
                          <input type="text" placeholder="100" id="discount" formControlName="discount"
                          class="mt-1  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  
                          [ngClass]="{inputError: saleForm.get('discount')?.invalid &&  saleForm.get('discount')?.touched}"  />
                          <div class="inputError-text  font-bold mt-1  text-xs ">
                            @if(saleForm.get('discount')?.touched && saleForm.get('discount')?.errors?.['pattern'])
                            {<p>{{ 'APP.SALE.ADDSALE.VALIDATION.NUMBER' | translate }} </p>}
                            @if(saleForm.get('discount')?.touched && saleForm.get('discount')?.errors?.['min'])
                            {<p>{{ 'APP.SALE.ADDSALE.VALIDATION.MIN' | translate }} </p>}
                         </div>   
                  </div>
              </div>  
          </div>
          <div class="row ">
              <div class="gap-4 columns-2">
                  <div class="mb-4  relative ">
                          <label for="sale_date" class=" mb-2 text-sm font-medium text-gray-900 dark:text-white" >{{ 'APP.SALE.ADDSALE.SELLING_DATE' | translate }}: </label>
                              <input type="date" id="saleDate" formControlName="saleDate"
                              class="mt-1  bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  />
                  </div>
                  <div class="mb-4  relative ">
                  </div>
              </div>
          </div>
          <div class="modal-action">
            @if(isEditMode ===true)
            { 
              @if(isView === true){
                <button type="button" (click)="print()" class="btn btn-primary px-8">{{ 'APP.SALE.ADDSALE.PRINT_BUTTON' | translate }}</button>
              }@else{ 
              <button type="submit"  [disabled]="saleForm.pristine || saleForm.invalid " class="btn btn-primary px-8">{{ 'APP.SALE.ADDSALE.EDIT_BUTTON' | translate }}</button>
              }
            }@else
            {
              <button type="submit" [disabled]="saleForm.invalid"  class="btn btn-primary px-8">{{ 'APP.SALE.ADDSALE.ADD_BUTTON' | translate }}</button>
            }
                  
                  <form method="dialog">
                      <button id="btn-close-modal" class="btn px-8" (click)="close()">{{ 'APP.SALE.ADDSALE.CLOSE' | translate }}</button>
                  </form>
          </div>
      </form>
    </div>

  </dialog>