
.mat-mdc-cell{
    border-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.mat-mdc-table{
    background-color: transparent;
}
.mat-mdc-paginator{
    background-color: transparent;
    border-top: 1px dashed lightgray;

}
.mat-mdc-header-cell{
    border-bottom: 0;
    font-weight: bold;
    color: gray;
    padding-top: 0;
    padding-bottom: 0;


}
.mat-mdc-header-row{
    font-size: 0.825rem;
    /*background-color: #e2e2e2;*/
    height: 40px;


}
th, td{
    padding: 0;
}
.mat-mdc-row{
    font-size: 0.825rem;
    height: 40px;

}
table {
    width: 100%;
    overflow-x: auto;
}

th, td {
    padding: 16px;
    text-align: left;
}

@media (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
    }
}