<nav class="navbar bg-base-100">
    <div class="flex-1">
        <a href="#" class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">{{ 'APP.NAME' | translate }}</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
            <li class="navitem">
                <details>
                    <summary>
                        <img [src]="selectedLanguage.flag" width="25" height="25"  alt="">
                    </summary>
                    <ul class="bg-base-100 rounded-t-none p-1">
                        @for(language of languages; track $index) {
                            <li class="langs" (click)="changeLang(language.lang, $index);"><a> <img width="25" height="25" [src]="language.flag" alt=""></a></li>       
                        }
                    </ul>
                </details>
            </li>
            
            <li class="navitem">
                <details>
                    <summary class="menu-dropdown-toggle menu-dropdown-show">
                        User
                    </summary>
                    <ul class="bg-base-100 rounded-t-none p-1 menu-dropdown menu-dropdown-show">
                        <li>
                            <a routerLink="/account" routerLinkActive="active">{{ 'APP.NAVBAR.USER.ACCOUNT' | translate }}</a>
                        </li>
                        <li>
                            <a routerLink="/logout" routerLinkActive="active">{{ 'APP.NAVBAR.USER.LOGOUT' | translate }}</a>
                        </li>
                    </ul>
                </details>
            </li>
        </ul>
    </div>
</nav>