<nav class="pe-2">
    <div class="flex flex-wrap items-center justify-between mx-auto">
        <div class="flex mt-0">
            <button (click)="toggleSidebar()" [ngClass]="hideSideBar ? '':'md:btn-circle md:transition-transform md:active:rotate-45'"
                    class="md:ms-2 w-full focus:bg-base-100 py-2 px-8 mb-0 hover:bg-secondary hover:text-secondary-content  text-xl">
                <fa-icon [icon]="faBars" class=" text-2xl w-full md:text-xl text-base-content" ></fa-icon>
            </button>
            <div>
                <a [ngClass]="hideSideBar ? '' : 'md:block md:mt-2'" routerLink="/home"
                   class="hidden self-center text-xl font-mono whitespace-nowrap pacifico-regular">{{ 'APP.NAME' | translate }}</a>
            </div>
        </div>
        <div></div>
        <div class="flex items-center md:order-2 space-x-1 md:space-x-0 ">
<!--            <div class="mt-0.5 me-2 font-bold">{{ 'APP.NAVBAR.THEME' | translate }}: </div>-->
            <button #themeBtnRef type="button" data-dropdown-toggle="theme-dropdown-menu"
                    class="inline-flex items-center font-medium justify-center p-2 text-sm rounded-lg cursor-pointer text-neutral-500 hover:text-secondary">
<!--                 {{ selectedTheme | titlecase }}-->
                <fa-icon [icon]="faBrush"
                         class="text-base w-4 ms-1"></fa-icon>
                <fa-icon [icon]="faCaretDown"
                         class="text-base w-5 "></fa-icon>
            </button>
            <!-- Dropdown -->
            <div class=" overflow-y-scroll max-h-96 z-50 hidden  my-4 text-base list-none bg-base-100 text-base-content divide-y divide-gray-100 rounded-lg shadow "
                 id="theme-dropdown-menu">
                <ul class="py-2 font-medium" role="none">
                    @for (theme of themes; track $index) {
                        <li class="cursor-pointer" (click)="changeTheme(theme);themeBtnRef.click()">
                            <a [ngClass]="{'bg-accent text-accent-content': theme == selectedTheme}" class="block px-4 py-2 text-sm hover:bg-neutral hover:text-neutral-content "
                               role="menuitem">
                                <div class="inline-flex items-center">
                                    {{ theme | titlecase}}
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div>
            <button #langBtnRef type="button" data-dropdown-toggle="language-dropdown-menu"
                    class="inline-flex items-center font-medium justify-center  m-2 pe-4 text-sm rounded-lg cursor-pointer text-neutral-500 hover:text-secondary">
                <img class="w-6 h-6 " [src]="selectedLanguage.flag" alt="">
<!--                {{ selectedLanguage.fullName }}-->
<!--                <fa-icon [icon]="faLanguage" class="text-lg w-5 ms-2 me-1"></fa-icon>-->
                <fa-icon [icon]="faCaretDown"
                         class="text-base w-5"></fa-icon>
            </button>
            <!-- Dropdown -->
            <div  class="z-50 hidden my-4 text-base list-none bg-base-100 divide-y divide-gray-100 rounded-lg shadow"
                 id="language-dropdown-menu">
                <ul class="py-2 font-medium" role="none">
                    @for (language of languages; track $index) {

                        <li  class="cursor-pointer" (click)="changeLang(language.lang, $index);langBtnRef.click()">
                            <a [ngClass]="{'bg-accent text-accent-content': language.lang == selectedLanguage.lang}" class="block  px-4 py-2 text-sm  hover:bg-neutral hover:text-neutral-content  text-base-content"
                               role="menuitem">
                                <div class="inline-flex items-center">
                                    <img class="h-3.5 w-3.5 rounded-full me-2"
                                         [src]="language.flag"
                                         alt=""> {{ language.fullName }}
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div>
            <button type="button"
                    class="block text-sm bg-gray-800 border-gray-500 border-2 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300"
                    id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                    data-dropdown-placement="bottom">
                <img class="w-8 h-8" src="../../../../assets/icons/user/profile.png" alt="user photo">
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-base-100 divide-y divide-gray-100 rounded-lg shadow"
                 id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-base-content ">John User</span>
                    <span class="block text-sm  text-base-content truncate ">user&#64;test.com</span>
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li>
                        <a routerLink="/account" routerLinkActive="active"
                           class="block px-4 py-2 text-sm text-base-content hover:bg-neutral hover:text-neutral-content">{{ 'APP.NAVBAR.USER.ACCOUNT' | translate }}</a>
                    </li>
                    <li>
                        <a (click)="logout()" routerLink="/login" routerLinkActive="active"
                           class="block px-4 py-2 text-sm text-base-content hover:bg-neutral hover:text-neutral-content">{{ 'APP.NAVBAR.USER.LOGOUT' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
