<dialog id="my_modal_1" class="modal">
    <div class="modal-box">
      <form class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md" [formGroup]="productForm" >
        <h2 class="text-2xl font-bold mb-6">Add Product:</h2>

        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                Name
                <input type="text" class="grow" placeholder="Samsung S24" id="productName" formControlName="productName" />
              </label>
        </div>
        <div class="mb-4">
          <label class="input input-bordered flex items-center gap-2">
              Code
              <input type="text" class="grow" placeholder="WM-001" id="productCode" formControlName="productCode"  />
            </label>
      </div>
        <div class="mb-4">
          <label class="input input-bordered flex items-center gap-2">
              Description
              <input type="text" class="grow" placeholder="128rom/6ram color black" id="description" formControlName="description"  />
            </label>
      </div>
        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                Quantity
                <input type="text" class="grow" placeholder="100" id="quantity" formControlName="quantity"  />
              </label>
        </div>
        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                Buying Price
                <input type="text" class="grow" placeholder="4000" id="unitBuyPrice" formControlName="unitBuyPrice"  />
              </label>
        </div>
        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                Selling Price
                <input type="text" class="grow" placeholder="4500" id="unitSellPrice" formControlName="unitSellPrice"  />
              </label>
        </div>   
        <div class="mb-4">
          <div class="relative max-w-sm">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg> 
            </div>
            <input   type="text" class="bg-gray-50 focus:outline-none  border border-gray-300 text-gray-900 text-sm rounded-lg   w-full ps-10 p-2.5   " placeholder="ex: 29-7-2024">
          </div>
          
      </div>
        <div class="mb-4">
            <select class="select select-bordered w-full max-w-xs">
                @for (category of categories; track category.id) {
                  <option>{{ category.name }}</option>
                }
              </select>
        </div>
        
        <div class="modal-action">
          <form method="dialog">
            <div class="btn-group">
              <button (click)="addProduct();" class="add px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Add</button>
              <button class="close px-3 py-2 text-sm font-medium text-center text-white bg-gray-700 rounded-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800">Close</button>
            </div>
            
          </form>
        </div>
    </form>
    </div>
  </dialog>