<dialog id="my_modal_1" class="modal">
    <div class="modal-box">
      <form class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md" (ngSubmit)="submitForm()" >
        <h2 class="text-2xl font-bold mb-6">Add Product:</h2>

        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                Name
                <input type="text" id="productName" name="productName" class="grow" placeholder="Samsung S24" />
              </label>
        </div>
        <div class="mb-4">
          <label class="input input-bordered flex items-center gap-2">
              Description
              <input type="text" id="description" name="description" class="grow" placeholder="Samsung S24" />
            </label>
      </div>
        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                Quantity
                <input type="text" id="quantity" name="quantity" class="grow" placeholder="100" />
              </label>
        </div>
        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                Buying Price
                <input type="text" id="unitBuyPrice" name="unitBuyPrice" class="grow" placeholder="4000" />
              </label>
        </div>
        <div class="mb-4">
            <label class="input input-bordered flex items-center gap-2">
                Selling Price
                <input type="text" id="unitSellPrice" name="unitSellPrice" class="grow" placeholder="4500" />
              </label>
        </div>  
        <div class="mb-4">
          <div class="relative max-w-sm">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
              </svg> 
            </div>
            <input   type="text" class="bg-gray-50 focus:outline-none  border border-gray-300 text-gray-900 text-sm rounded-lg   w-full ps-10 p-2.5   " placeholder="ex: 29-7-2024">
          </div>
          
      </div>
        <div class="mb-4">
            <select class="select select-bordered w-full max-w-xs">
                <option disabled selected>Category</option>
                <option>Phones</option>
                <option>Chargers</option>
                <option>Laptops</option>
              </select>
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>